   {{!-- <h1>Navbar</h1>
    <ul>
        <li><a href="/">index</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/edit">edit</a></li>
    </ul> --}}


    <nav class="navbar navbar-dark bg-black mb-4">
        <div class="container">
<a href="/" class="navbar-brand">CRUD Nodejs and Mongodb</a>

        </div>


    </nav>